<h1 class="welcome">Ask a question</span></h1>

<container class="left" id="edit_question">

<%= form_for @question do |f| %>
  <% @question.errors.each do |attr, msg| %>
  <p><%= attr %><%= msg %></p>
  <% end %>
  <p>
    <%= f.label :q_title, "Title" %><br/>
    <%= f.text_field :q_title, placeholder: 'title' %><br>
    <%= f.label :q_content, "Question" %><br/>
    <%= f.text_area :q_content, placeholder: 'content', size: "60x12" %><br>
    <%= fields_for :tags do |tag_field| %>
      <%= tag_field.label :t_content, "Tags" %>
      <%= tag_field.text_field :t_content, placeholder: 'tags' %>
    <% end %>
    <%= f.submit %>
  </p>
<% end %>
</container>
