

<b><%= @question.q_title %></b><br>
<%= @question.q_content %>


<% @question.answers.each do |answer| %>
<p>
  <%= answer.a_content %> <br>
  <%= answer.user.email if @question.user %>
  <%= time_ago_in_words(answer.created_at) %>
  	<div style="color:Red;font-size:11px;margin-left:20px;width:400px;">
  		<% answer.comments.each do |comment| %>
  		<%= comment.c_content %><br/>
  		<span style="color:black"> <%= User.find(comment.user_id).email %>
  		  <%= time_ago_in_words(comment.created_at) %></span><br/><br/>
		<% end %>
  	</div>
</p>
<%= link_to "Add Comment", new_comment_path(answer) %>
<% end %>

<%= form_for([@question, @answer]) do |f| %><br>
 <b><%= f.label :a_content, "Your Answer:" %><br/><b>
  <%= f.text_area :a_content, placeholder: 'Type your response...', size: "60x12" %><br>
 <%= f.submit %>
<% end %>
