<container class="display_questions" id="display_questions">
<div id="show_question">
<b><%= @question.q_title %></b><br><br>
<%= @question.q_content %></div><br><br>


<% @question.answers.each do |answer| %>
<p>
  <%= answer.a_content %><br>
  <%= answer.user.email if @question.user %>
  <%= time_ago_in_words(answer.created_at) %> ago
  	<div style="color:darkmagenta;font-size:12px;margin-left:20px;width:400px;">
  		<% answer.comments.each do |comment| %>
  		<%= comment.c_content %><br/>
  		<span style="color:black"> <%= User.find(comment.user_id).email %>
  		  <%= time_ago_in_words(comment.created_at) %> ago</span>
		<% end %>
  	</div>
</p>
<p id="add_comment_link"><%= link_to "Add Comment", new_comment_path(answer) %></p>
<% end %>

<%= form_for([@question, @answer]) do |f| %><br>
 <b><%= f.label :a_content, "Your Answer:" %><br/><b>
  <%= f.text_area :a_content, placeholder: 'Type your response...', size: "60x12" %><br>
 <%= f.submit %>
<% end %>
</container>
