

<b><%= @question.q_title %></b><br>
<%= @question.q_content %>


<% @question.answers.each do |answer| %>
<p>
  <%= answer.user.email if question.user %>
  <%= time_ago_in_words(answer.created_at) %>
</p>
<% end %>

<%= form_for([@question, @answer]) do |f| %><br>
 <b><%= f.label :a_content, "Your Answer:" %><br/><b>
  <%= f.text_area :a_content, placeholder: 'Type your response...', size: "60x12" %><br>
 <%= f.submit %>
<% end %>
