<h2 class="welcome">Edit your profile</h2>

<container class="left", id="edit_profile">
<%= form_for @user, html: { multipart: true } do |f| %>
	<%= f.label :name, "Name:" %>
  	<%= f.text_field :name %><br><br>
  <%= f.label :current_city, "Current city:" %>
    <%= f.text_field :current_city %><br><br>
  <%= f.label :website, "Website:" %>
 		<%= f.text_field :website %><br><br>
  <strong>Change your profile picture:
    <%= fields_for :photo, @user.photo do |photo_fields|%>
    <%= photo_fields.file_field :file %>
  <% end %></strong><br><br>
 	<%= f.label :date_of_birth, "Date of birth:" %>
  		<%= f.date_select :date_of_birth, :start_year => 1945 %><br><br>
  <%= f.label :interests, "Interests:" %><br>
  	<%= f.text_area :interests, size: "60x12" %><br>
  
  <%= f.submit %>

	<% end %>
</container>
