<h1 class="welcome">Welcome back, 
	<% if @user.name %>
			<%= @user.name %>!
	<% else %>
			<%= @user.email %>!
	<% end %>
</h1>

<container class="left">
<div id="personal_info">
<div id="photo">
  <% if @user.photo %>
    <%= image_tag(@user.photo.file.url(:thumb)) %>
  <% else %>
    <%= image_tag "silhouette.jpg" %>
  <% end %>
</div>
  <h2 id="personal_info_title">Personal information</h2>
  <strong>Website:</strong> <%= @user.website %><br><br>
  <strong>Birthday:</strong> <%= @user.date_of_birth %><br><br>
  <strong>Current city:</strong> <%= @user.current_city %><br><br>
  <strong>Interests:</strong> <%= @user.interests %><br><br>
<div id="edit_profile_link"><%= link_to "Edit your profile", edit_user_path(@user) %></div>
</div>
</container>

<container id="right">
<div id="your_stuff">

  <h2>Your badges:</h2>
   <span class="badge"><%= image_tag "unicorn_badge.jpg" %></span>
   <span class="badge"><%= image_tag "eagle_badge.jpg" %></span>
   <span class="badge"><%= image_tag "cartman_badge.png" %></span><br><br>
   <span class="delete_links"><%= link_to "Learn about badges", badges_path %></span><br>
  <h2>Your questions:</h2>
    <% @questions.each do |question| %>
    <strong><%= question.q_title %></strong><br/>
    <%= question.q_content %><br/>
    <% question.tags.each do |tag| %>
        <%= render partial: "tags/tag_button", locals: {tag: tag} %>
        <% end %>
        <br>

    <span class="delete_links">
    <%= link_to "Delete", question_path(question), method: :delete,
                                                    confirm: "Are you sure?" %></span>
    <span class="edit_links">
    <%= link_to "Edit", edit_question_path(question) %></span><br>
  <% end %>

  <h2>Your answers:</h2>
    <% @answers.each do |answer| %>
    <%= answer.a_content %><br/>

    <span class="delete_links">
    <%= link_to "Delete", question_answer_path(answer.question_id, answer), method: :delete,
                            confirm: "Are you sure?" %></span>
    <span class="edit_links">
    <%= link_to "Edit", edit_question_answer_path(answer.question_id, answer) %></span><br><br><br>
    <% end %>

</div>
</container>

