<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<head>
</head>

<header>
<%= link_to "Stack Overflow", root_path, html_options = {id: "logo"} %>
<%= link_to "Ask a Question", new_question_path %>
<%= link_to "Sign up", new_user_path %>
<% if current_user %>
<div id="profile_nav">
Signed in as <%= link_to current_user.email, user_path(current_user.id), html_options = {class: "profile_link"} %>
<%= link_to "Log Out", logout_path  %>
</div>
<% else %>
<%= link_to "Login", 'javascript:;', html_options = {id: "login_link"} %>
<% end %>



<%= form_for(:welcome, remote: true, url: root_path, html: {id: "search_form"}) do |f| %>
<%= f.text_field :search_input, placeholder: "Search Questions", id: "search_input" %>
<ul id="search_bar_results">

</ul>
<% end %>



</header>
<div class="container">


  <%= form_for :session, url: login_path, html: {id: "login_form"} do  |f| %>
<%= f.text_field :email, placeholder: "Email" %>
<%= f.password_field :password, placeholder: "Password" %>
<%= f.submit "Log in" %>
<% end %>

<%= yield %>
</div>
</body>
</html>
