<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<head>
</head>

<header>
<%= link_to "Stack Overflow", root_path, html_options = {id: "logo"} %>
<%= link_to "Ask a Question" %>
<%= link_to "Profile", user_path(1) %>
<%= link_to "Sign up", new_user_path %>
<% if current_user %>
<%= link_to "Log Out", logout_path  %>
<% else %>
<%= link_to "Login", 'javascript:;', html_options = {id: "login_link"} %>
<% end %>
</header>
<div class="container">


  <%= form_for :session, url: login_path, html: {id: "login_form"} do  |f| %>
<%= f.text_field :email, placeholder: "Email" %>
<%= f.password_field :password, placeholder: "Password" %>
<%= f.submit "Log in" %>
<% end %>

<%= yield %>
</div>
</body>
</html>
